<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="mdi mdi-menu mdi-24px"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="mdi mdi-magnify mdi-24px lh-0"></i>
                <input type="text" class="form-control border-0 shadow-none bg-body" placeholder="Search..." aria-label="Search..." />
            </div>
            <br />
        </div>
        <!-- /Search -->
        <div>
            @if (!string.IsNullOrEmpty(ViewBag.ImagePath))
            {
                <a href="@Url.Action("UploadImageEmp","Admin")" class="bi bi-pencil custom-icon text-decoration-none mt-10" id="editImage">Thay đổi ảnh đại diện</a> <!-- Thêm icon chỉnh sửa ảnh -->
            }
        </div>
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <div class="d-flex align-items-center">
                <div>
                @if (!string.IsNullOrEmpty(ViewBag.ImagePath))
                {
                    <img src="@Url.Content(ViewBag.ImagePath)" class="avatar-img me-3" style="width: 50px; height: 50px; border-radius: 50%;" />
                }
                </div>
                <div>
                    @if (HttpContext.Current.Session["account"] != null)
                    {
                        <h6 class="mb-0">Hello, @HttpContext.Current.Session["account"]</h6>
                    }
                    @if (HttpContext.Current.Session["role1"] != null)
                    {
                        <a href="@Url.Action("Logout","Home")">Logout</a>
                    }
                </div>
            </div>
        </ul>
    </div>
</nav>
